@{
    ViewData["Title"] = "Home";
}

<!-- Hero Section -->
<section class="hero">
    <div class="hero-content text-black ">
        <h1 class="homeHead">Welcome to Our Kandy Rentals Homepage</h1>
        <p>Discover the best services for your needs.</p>
        <a href="@Url.Action("Index", "About")" " class="cta-button ">Explore Our Services</a>
    </div>
</section>

<!-- Services Section -->
<section class="services" id="services">
    <div class="service-card">
       
       
    </div>
    <div class="service-card">
        
       
    </div>
    <div class="service-card">
        
       
    </div>
</section>
